[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = https://github.com/madler/zlib
[submodule "3rdparty/jsoncpp"]
	path = 3rdparty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "3rdparty/freetype"]
	path = 3rdparty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "3rdparty/libpng"]
	path = 3rdparty/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "3rdparty/harfbuzz"]
	path = 3rdparty/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
